body{
    padding: 0;
    margin:0;
    text-align:center;
}
table {
    border-collapse: collapse;
    border:5px outset black;
    margin:auto;
}
th {
    background: red;
    color:white;
}
tr:nth-child(even) {
    background: #f2f2f2;;
}
td, th{
    border:1px solid black;
}

